In [1]:
from arctic import TICK_STORE, Arctic

C:\Users\hpcq_\.conda\envs\cvxpyenv\lib\site-packages\arctic-1.80.0-py3.8.egg\arctic\store\_pandas_ndarray_store.py:8: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version

In [2]:
import pandas as pd

In [3]:
lib = Arctic('localhost')

In [4]:
# lib.initialize_library('tick', lib_type=TICK_STORE)

In [5]:
tick = lib.get_library('tick')

In [6]:
data = pd.read_csv('temp/000001.csv', index_col=0, parse_dates=True).tz_localize('UTC')

In [39]:
tick.write('000001', data)

NB treating all values as 'exists' - no longer sparse

In [8]:
fund = lib.get_library('fund')

In [9]:
tick.max_date('000001')

datetime.datetime(2021, 4, 22, 1, 0, tzinfo=tzfile('GB-Eire'))

In [10]:
tick.min_date('000001')

datetime.datetime(2021, 4, 2, 1, 0, tzinfo=tzfile('GB-Eire'))

In [12]:
fund.read('000001', pd.date_range('20210402', '20210422'))

              NAV  ACC_NAV
date
2021-04-02  1.335    3.846
2021-04-05  1.335    3.846
2021-04-06  1.327    3.838
2021-04-07  1.318    3.829
2021-04-08  1.334    3.845
2021-04-09  1.316    3.827
2021-04-12  1.296    3.807
2021-04-13  1.301    3.812
2021-04-14  1.310    3.821
2021-04-15  1.299    3.810
2021-04-16  1.299    3.810
2021-04-19  1.321    3.832
2021-04-20  1.331    3.842
2021-04-21  1.346    3.857
2021-04-22  1.348    3.859

In [14]:
from arctic.date import DateRange

In [15]:
tick.read('000001', DateRange('20210402', '20210422'))

                             NAV  ACC_NAV
2021-04-02 01:00:00+01:00  1.335    3.846
2021-04-05 01:00:00+01:00  1.335    3.846
2021-04-06 01:00:00+01:00  1.327    3.838
2021-04-07 01:00:00+01:00  1.318    3.829
2021-04-08 01:00:00+01:00  1.334    3.845
2021-04-09 01:00:00+01:00  1.316    3.827
2021-04-12 01:00:00+01:00  1.296    3.807
2021-04-13 01:00:00+01:00  1.301    3.812
2021-04-14 01:00:00+01:00  1.310    3.821
2021-04-15 01:00:00+01:00  1.299    3.810
2021-04-16 01:00:00+01:00  1.299    3.810
2021-04-19 01:00:00+01:00  1.321    3.832
2021-04-20 01:00:00+01:00  1.331    3.842
2021-04-21 01:00:00+01:00  1.346    3.857

In [41]:
import tzlocal

In [43]:
z = tzlocal.get_localzone()

In [47]:
import dateutil
import six
import tzlocal

In [48]:
zone=None

In [50]:
if zone is None:
    zone = tzlocal.get_localzone().key
zone = six.u(zone)
tz = dateutil.tz.gettz(zone)
if not tz:
    raise TimezoneError('Timezone "%s" can not be read' % (zone))
# Stash the zone name as an attribute (as pytz does)
if not hasattr(tz, 'zone'):
    tz.zone = zone
    for p in dateutil.tz.TZPATHS:
        if zone.startswith(p):
            tz.zone = zone[len(p) + 1:]
            break

'Europe/London'